/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-toolbar {
  &container {
    padding-left: 100px;
  }
}
/* Helper Classes */

.margin {
  &-left {
    margin-left: 16px;
  }

  &-top {
    margin-top: 16px;
  }

  &-bottom {
    margin-bottom: 16px;
  }

  &-right {
    margin-right: 16px;
  }

  &-horizontal {
    margin-left: 16px;
    margin-right: 16px;
  }

  &-vertical {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.padding {
  padding: 16px 16px;
  &-left {
    padding-left: 16px;
  }

  &-top {
    padding-top: 16px;
  }

  &-bottom {
    padding-bottom: 16px;
  }

  &-right {
    padding-right: 16px;
  }

  &-horizontal {
    padding-left: 16px;
    padding-right: 16px;
  }

  &-vertical {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.flex {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

/* Size Helpers */
.full {
  &-width {
    width: 100%;
  }

  &-height {
    height: 100%;
  }
}
